#container {
  width: 700px;
  border-width: 1px;
  border-style: solid;
  margin: 0 auto;
  padding: 10px;
}

#logo {
  text-align: center;
}

#menu {
  text-align: center;
  margin-left: 300px;
}

.menu-item {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

#content {
  clear: both;
}
